doctype
head
    meta(charset='utf8')
    title Hello
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/index.css")
body
    main
        .container
            .left
                article
                    h1 Hello people
                    p#hellotxt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum optio architecto alias, animi deserunt quisquam, accusamus, labore cupiditate saepe voluptatibus laudantium fugit dolorem facilis enim nobis, eum voluptates ratione. Molestias, aut, delectus? Aliquam ea accusantium est commodi asperiores, aliquid! Eaque autem fugiat, odit esse. Ad amet molestiae veritatis fugiat in.
            .right
                .circle
                    a(href="main.html")
                        p ENTER