doctype
head
    meta(charset='utf8')
    title Hello
    link(rel="stylesheet", href="css/main.css")
body
    .card
        .card-content
            h1 *__________*

            
    script(src="js/jquery.min.js")
    script(src="js/main.js")
    script.
        $("#button").click(function(){
            $("#element").toggleClass("expand");
        });